.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.home-title {
  font-size: 60px;
  margin: 15px;
  padding: 10px;
  color: brown;
}
